//====================================================================================================
.footer {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 16px;
  background: linear-gradient(90deg, #004155 0%, #326f82 100%);
  color: #ffffff;


  @media (min-width:$tablet) {
    padding-top: 40px;
    padding-bottom: 22px;
    // color: var(--light-text-color);

    // background-image: url("@img/footer/bg.jpg");

    background-size: cover;
    position: relative;
    z-index: 2;
  }


  // .footer__container
  &__container {
    // max-width: vwpc(1300);
  }

  // .footer__row
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;

    @media (min-width:$tablet) {
      gap: 45px;
      margin-bottom: 35px;
    }
  }

  // .footer__main
  &__main {
    display: none;


    @media (min-width:$tablet) {
      display: block;
      flex-grow: 1;
    }

  }

  // .footer__menu
  &__menu {
    display: none;

    @media (min-width: $pc) {
      display: block;
      margin-bottom: 40px;
    }
  }


  // .footer__logo
  &__logo {
    background-image: url("@img/logo-w.svg");
  }

  // .footer__bottom
  &__bottom {
    @media (max-width:$tablet) {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    @media (min-width:$tablet) {
      position: relative;
    }
  }


  // .footer__city
  &__city {
    font-size: 2rem;
  }

  // .footer__copy
  &__copy {
    @media (max-width:$tablet) {

      text-align: right;
    }

    @media (min-width:$tablet) {
      font-size: 1.1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  // .footer__contacts
  &__contacts {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
    justify-items: center;

    @media (min-width:$tablet) {
      align-items: center;
    }
  }

  // .footer__btn
  &__btn {
    padding: 12px 24px;
    background: #4BA8C6;
  }

  // .footer__contacts-row
  &__contacts-row {}

  // .footer__info
  &__info {}

  // .footer__phone
  &__phone {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 5px;
  }


  // .footer__shedule
  &__shedule {}

  // .footer__socials
  &__socials {
    gap: 22px;

    a::before {
      font-size: 30px;
    }

  }

  // .footer__ip-mob
  &__ip-mob {
    text-align: right;

    @media (min-width:$tablet) {
      display: none;
    }
  }

  // .footer__ip-pc
  &__ip-pc {
    display: none;

    @media (min-width:$tablet) {
      display: block;


      p:first-child {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.01em;
        color: #fff;
        margin-bottom: 12px;
      }

      p:last-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }



}



.menu {

  // .menu__list
  &__list_f {

    @media (min-width:$tablet) {
      width: 100%;
      display: grid;
      grid-template-columns: 220px 140px 226px;
      gap: 55px;


      &>.menu-item_f>.sub-menu_f {
        display: grid;
        gap: 4px;
      }

      &>.menu-item_f>.main-item {

        @media (min-width:$tablet) {
          font-size: 2rem;
          // pointer-events: none;
          margin-bottom: 12px;
        }
      }

      &>.menu-item_f.menu-item_active>a {
        background: transparent;
      }
    }

  }
}

.menu-item-f .main-item {
  font-size: 1.4rem;
  // padding-left: 5px;
}

.menu__list_f>.menu-item_f>.main-item .main-item__btn {
  &::before {
    display: none;
  }
}

.sub-menu_f .menu-item_f>a {
  font-size: 1.4rem;
}

.menu-item_f>a {
  font-size: 2rem;
}

.sub-menu_f.level-1 {
  @media (min-width:$pc) {
    // font-size: 1.4rem;
    display: grid;
    justify-content: start;
    gap: 4px;
  }
}

.sub-menu_f.level-2 {
  @media (min-width:$pc) {
    width: 200px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-size: 1.4rem;
    top: 0;
    left: 100%;
    background: #f5fdff;
    color: var(--main-text-color);
    border-radius: 0 8px 8px 8px;
    padding: 14px 0;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;

  }
}

.level-2 .menu-item_f {
  padding: 5px 14px;
}


.level-2.sub-menu_f .menu-item {
  @media (min-width:$pc) {
    @media (hover: hover) {
      &:hover {

        background: linear-gradient(90deg, rgba(1, 65, 85, 0.78) 0%, rgba(49, 111, 130, 0.78) 100%);

        &>a {
          color: #ffffff !important;
        }

      }
    }
  }
}


.sub-menu_f,
.menu-item_f {
  // line-height: 1;
  font-size: 1.4rem;
}

.sub-menu_f.level-1>.menu-item_f>a {
  &::before {
    font-size: 6px;
  }
}

//====================================================================================================