//====================================================================================================
.header {
  position: absolute;
  top: vwm(4);
  left: 0;
  width: 100%;
  z-index: 10;

  @media (min-width:$tablet) {
    top: vwpc(12);
  }

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: vwm(50);

    @media (min-width:$tablet) {
      height: vwpc(70);
    }
  }

  // .header__main
  &__main {
    display: none;
    @media (min-width:$tablet){
      display: grid;
      gap: vwpc(8);
      position: relative;
      // align-self: end;


      // &_home {
      //   align-self: center;
      // }
    }
  }

  // .header__breadcrumbs
  &__breadcrumbs {
    position: absolute;
    top: 110%;
  }


  // .header__socials
  &__socials {
    .socials__item::before {
      font-size: vwm(28);
    }

    @media (min-width:$tablet) {
      display: none;
    }
  }

  // .header__logo

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // .header__right-block
  &__right-block {
    display: flex;
    align-items: center;
    gap: vwm(7);
    margin-right: vwm(-7);
  }

  // .header__info
  &__info {}

  // .header__shedule
  &__shedule {
    display: none;

    @media (min-width:$tablet) {
      display: block;
      padding: 0 vwpc(5);
    }

  }


  // .header__phone
  &__phone:link {
    text-decoration: underline;
  }

  // .header__menu
  &__menu {}
}

.logo {
  background-image: url("@img/logo.png");
  background-size: cover;
  width: vwm(42);
  aspect-ratio: 421/482;

  @media (min-width:$tablet) {
    width: vwpc(61);
  }

}

.menu {


  @media (min-width:$tablet) {
    display: block;
  }


  // .menu__icon
  &__icon {}

  // .menu__body

  &__body {}

  // .menu__list
  &__list {
    @media (max-width:$tablet) {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: vwm(85) vwm(15) vwm(140);

      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: vwm(20);

      transform: translateX(100%);
      transition: transform 0.3s ease 0s;


      .menu-open & {
        transform: translateX(0);
      }
    }

    @media (min-width:$tablet) {
      display: flex;
      gap: vwpc(25);
    }

  }

  &__header,
  &__footer {
    @media (max-width:$tablet) {
      z-index: 6;
      position: fixed;
      left: 0;
      width: 100%;
      padding: vwm(15);
      background: var(--light-color);
      transform: translateX(100%);
      transition: transform 0.3s ease 0s;


      .menu-open & {
        transform: translateX(0);
      }
    }

    @media (min-width:$tablet) {
      display: none;
    }

  }

  // .menu__header
  &__header {
    @media (max-width:$tablet) {
      top: 0;
      align-self: flex-start;

      span {
        font-size: vwm(30);
        letter-spacing: 0.01em;
        font-weight: 600;
      }

    }
  }

  // .menu__footer
  &__footer {
    @media (max-width:$tablet) {
      bottom: 0;
      width: 100%;
      display: grid;
      gap: vwm(15);
    }
  }

  // .menu__search
  &__search {}

  // .menu__info
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .menu__phone
  &__phone {}

  // .menu__socials
  &__socials {
    .socials__item::before {
      font-size: vwm(30);

    }
  }



}

.search {
  width: 100%;
  height: vwm(43);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: vwm(10);

  @media (min-width:$tablet) {
    width: vwpc(212);
    height: vwpc(35);
    padding: vwpc(10);
  }


  // .search__input
  &__input {
    border: vwpc(1) solid #000000;
    border-radius: vwm(35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding-left: vwm(45);
    padding-right: vwm(45);

    @media (min-width:$tablet) {
      border-radius: vwpc(35);
      padding-left: vwpc(40);
      padding-right: 0;

    }
  }

  &__btn-search,
  &__btn-del {
    position: relative;
    z-index: 2;
  }

  // .search__btn-search
  &__btn-search {
    font-size: vwm(25);


    @media (min-width:$tablet) {
      font-size: vwpc(23);
    }
  }

  // .search__btn-del
  &__btn-del {
    display: none;
  }
}

.menu__list {

  @media (max-width:$tablet) {
    &>.menu-item_h>a {
      display: flex;
      justify-content: center;
      font-size: vwm(35);
    }

    &>.menu-item-has-children>.sub-menu_h>.menu-item_h>a {
      font-size: vwm(30);
    }

    &>.menu-item-has-children .sub-menu_h .sub-menu_h {
      border-left: vwm(2) solid var(--accent-color);
      padding-left: vwm(25);

      &>.menu-item_h>a {
        font-size: vwm(25);
      }
    }
  }

  @media (min-width:$tablet) {
    &>.menu-item-has-children>.sub-menu_h {
      position: absolute;
      top: 100%;
      left: 0;
      background: linear-gradient(0deg, rgba(253, 215, 164, 1) 33%, rgba(253, 215, 164, 1) 62%, rgba(0, 0, 0, 0) 100%);
      border-radius: 0 0 vwpc(20) vwpc(20);
      // padding: vwpc(10) vwpc(15);
      padding: vwpc(10) 0;
      border-top: vwpc(1) solid #000000;
    }

    .menu-item-has-children._open-sub-menu>.sub-menu_h {
      display: block;
    }

    & > .menu-item_h > a {
      padding: 0;

      &::before {
        content: '';
        display: none;
      }
    }

    & > .menu-item_h.menu-item_active>a {
      background: transparent;
      color: var(--accent-color);
    }

  }
}

.menu-item_h > a {
  @media (min-width:$tablet) {
    padding: 0 vwpc(15);

    display: flex;

    @media (hover: hover) {
      &:hover {
        // background: var(--accent-color);
        // color: var(--main-text-color);
      }
    }
  }
}

.sub-menu_h {
  @media (min-width:$tablet) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.sub-menu_h.level-1 {
  @media (max-width:$tablet) {
    padding-top: vwm(15);

  }

  @media (min-width:$tablet) {
    top: 100%;
    left: 0;
    transform: translate(0, vwpc(10));
    background: linear-gradient(0deg, rgba(253, 215, 164, 1) 33%, rgba(253, 215, 164, 1) 62%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 vwpc(20) vwpc(20);
    padding: vwpc(10) vwpc(15);
    border-top: vwpc(1) solid #000000;
    box-shadow: 0 0 vwpc(15) rgba(0, 0, 0, 0.3);
  }
}

.sub-menu.level-2 {
  @media (max-width:$tablet) {
    margin-top: vwm(25);
    margin-bottom: vwm(40);
  }

  @media (min-width:$tablet) {
    top: 0;
    left: 100%;
    // transform: translate(vwpc(10),0);
    background: var(--light-color);
    border-radius: 0 0 vwpc(20) 0;
    box-shadow: 0 0 vwpc(15) rgba(0, 0, 0, 0.3);
    padding: vwpc(5) 0 vwpc(8);
  }

}

.sub-menu_h {
  @media (min-width:$tablet) {
    transition: all 0.3s ease 0s;

    &.sub-menu_open {
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: visible;
    }
  }
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children > a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media (max-width:$tablet) {
    gap: vwm(10);

    &::before {
      font-size: vwm(12);
      transform: rotate(180deg);
      transition: all 0.3s ease 0s;

      filter: drop-shadow(0 0 vwm(7) rgba(0, 0, 0, 0.45));
    }

  }

  @media (min-width:$tablet) {
    justify-content: flex-end;
    gap: vwpc(3);

    &::before {
      transform: rotate(90deg);
      font-size: vwpc(7);
    }


    // @media (hover: hover) {
    //   &:hover {
    //     ~ .sub-menu {
    //       opacity: 0;
    //       pointer-events: visible;
    //     }
    //   }
    // }
  }
}

.menu-item_h {
  &:not(:last-child) {
    margin-bottom: vwm(12);
  }

  @media (min-width:$tablet){
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.menu-item_h > a._spoller-active {

  @media (max-width:$tablet) {
    color: var(--accent-color);

    &::before {
      transform: rotate(0);
    }
  }

  @media (min-width:$tablet) {
    &::before {
      transform: rotate(180deg);
    }
  }

}

.sub-menu_h .menu-item-has-children>a {
  @media (max-width:$tablet) {
    justify-content: flex-end;
  }
}

.sub-menu_h {
  @media (max-width:$tablet) {
    width: vwm(320);
  }

}

.menu-item_h.menu-item_active > a {
  color: var(--accent-color);

  &::before {
    transform: rotate(0);
  }

  @media (min-width:$tablet) {
    background: var(--accent-color);
    color: var(--main-text-color);

    &::before {
      transform: rotate(270deg);
    }

  }
}

//====================================================================================================

//====================================================================================================
//Burger
.icon-menu {
  display: none;

  @media (max-width: $tablet) {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    width: vwm(40);
    height: vwm(40);
    padding: vwm(5);
    cursor: pointer;
    z-index: 35;

    &__lines {
      display: block;
      width: vwm(24);
      height: vwm(22);
      position: relative;

      &::before,
      &::after {
        content: "";
      }

      &::before,
      &::after,
      & span {
        transition: all 0.3s ease 0s;
        width: 100%;
        right: 0px;
        position: absolute;
        height: vwm(3);
        border-radius: vwm(3);
        background-color: var(--main-text-color);
        ;
      }

      &::before {
        top: 0px;
      }

      &::after {
        bottom: 0px;
      }

      span {
        width: 100%;
        top: calc(50% - vwm(1.5));
      }

      .menu-open & {
        &::before {
          transform: rotate(-45deg);
          top: calc(50% - vwm(1.5));
        }

        &::after {
          transform: rotate(45deg);
          bottom: calc(50% - vwm(1.5));
        }

        span {
          opacity: 0;
        }
      }
    }
  }
}

//====================================================================================================