//====================================================================================================
.header {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  color: #014257;
  position: relative;
  z-index: 3;
  padding: 5px 0;

  // .header__container

  &__container_n {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width:$pc) {
      gap: 10px;
    }
  }

  // .header__main
  &__main {
    display: none;

    @media (min-width:$pc) {
      display: grid;
      gap: 8px;
      position: relative;
      // align-self: end;


      // &_home {
      //   align-self: center;
      // }
    }
  }

  // .header__breadcrumbs
  &__breadcrumbs {
    position: absolute;
    top: 110%;
  }


  // .header__socials
  &__socials {
    .socials__item::before {
      font-size: 2rem;
    }

    // @media (min-width:$pc) {
    //   display: none;
    // }

    @media (min-width:$pc) {
      .socials__item::before {
        font-size: 20px;

      }
    }
  }

  // .header__logo
  &__logo {
    background-image: url("@img/logo.svg");
  }

  // .header__right-block
  &__right-block {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (min-width:$pc) {
      gap: 40px;
    }
  }

  // .header__info
  &__info {
    text-align: center;
  }

  // .header__shedule
  &__shedule {
    display: none;

    @media (min-width:$pc) {
      display: block;
      padding: 0 5px;
    }

  }


  // .header__phone
  &__phone:link {
    text-decoration: underline;
    font-weight: 600;
  }

  // .header__menu
  &__menu {}
}

.logo {
  background-size: cover;

  width: 42px;
  flex: 0 0 42px;
  height: 49px;

  @media (min-width:$pc) {
    width: 46px;
    flex: 0 0 46px;
    height: 53px;
  }

}

.menu {


  @media (min-width:$pc) {
    display: block;
    position: relative;
    z-index: 3;
  }


  // .menu__icon
  &__icon {}

  // .menu__body

  &__body {}

  // .menu__list
  &__list {
    @media (max-width:$pc) {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 85px 15px 140px;

      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      transform: translateX(100%);
      transition: transform 0.3s ease 0s;


      .menu-open & {
        transform: translateX(0);
      }
    }

    @media (min-width:$pc) {
      display: flex;
      gap: 22px;
    }

  }

  &__header,
  &__footer {
    @media (max-width:$pc) {
      z-index: 6;
      position: fixed;
      left: 0;
      width: 100%;
      padding: 15px;
      background: var(--light-color);
      transform: translateX(100%);
      transition: transform 0.3s ease 0s;


      .menu-open & {
        transform: translateX(0);
      }
    }

    @media (min-width:$pc) {
      display: none;
    }

  }

  // .menu__header
  &__header {
    @media (max-width:$pc) {
      top: 0;
      align-self: flex-start;

      span {
        font-size: 30px;
        letter-spacing: 0.01em;
        font-weight: 600;
      }

    }
  }

  // .menu__footer
  &__footer {
    @media (max-width:$pc) {
      bottom: 0;
      width: 100%;
      display: grid;
      gap: 15px;
    }
  }

  // .menu__search
  &__search {}

  // .menu__info
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .menu__phone
  &__phone {}

  // .menu__socials
  &__socials {
    .socials__item::before {
      font-size: 30px;

    }
  }



}

.search {
  width: 100%;
  height: 43px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 22px;

  @media (min-width:$pc) {
    width: 212px;
    height: 35px;
    padding: 10px;


  }


  // .search__input
  &__input {
    border: 1px solid #ffffff;
    border-radius: 35px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding-left: 45px;
    padding-right: 45px;

    @media (min-width:$pc) {
      border-radius: 35px;
      padding-left: 40px;
      padding-right: 0;

    }
  }

  &__btn-search,
  &__btn-del {
    position: relative;
    z-index: 2;
  }

  // .search__btn-search
  &__btn-search {
    font-size: 25px;


    @media (min-width:$pc) {
      font-size: 23px;
    }
  }

  // .search__btn-del
  &__btn-del {
    display: none;
  }
}

.menu__list {

  @media (max-width:$pc) {

    &>.menu-item>.main-item,
    &>.menu-item>a {
      font-size: 25px;
      justify-content: center;
    }

    &>.menu-item-has-children .sub-menu_h .sub-menu_h {}
  }

  @media (min-width:$pc) {
    &>.menu-item-has-children {
      position: relative;

      // &>.sub-menu_h {
      //   top: 70%;
      //   left: 0;
      //   background: #f5fdff;
      //   border-radius: 0 8px 8px 8px;
      //   padding: 14px 0;

      //   box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25);
      // }
    }

    .menu-item-has-children._open-sub-menu>.sub-menu_h {
      display: block;
    }

    // &>.menu-item_h>.main-item {
    //   padding: 0;
    // }


    &>.menu-item_h>.main-item>.main-item__btn {

      &::before {
        content: '';
        display: none;
      }

    }

    &>.menu-item_h.menu-item_active>a {}

  }
}

.menu-item_h>a {
  @media (min-width:$pc) {
    font-size: 1.4rem;
  }
}

.sub-menu_h {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  @media (max-width:$pc) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  // @media (min-width:$tablet){
  //   background: #f5fdff;
  //   border-radius: 0 8px 8px 8px;
  //   padding: 14px;
  //   box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25); 
  // }
}

.sub-menu_h.level-1 {
  @media (max-width:$pc) {
    padding-top: 15px;
    font-size: 30px;

    & .menu-item>.main-item>.main-item__btn:before {
      font-size: 15px;
    }
  }

  @media (min-width:$pc) {
    // top: 100%;
    left: 0;
    transform: translate(0, 10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);


    // .main-item {
    //   @media (hover: hover) {
    //     &:hover {

    //       a {
    //         color: var(--main-text-color);
    //       }

    //       .main-item__btn::before {
    //         color: var(--main-text-color);
    //         background: linear-gradient(90deg, rgba(1, 65, 85, 0.78) 0%, rgba(49, 111, 130, 0.78) 100%);

    //       }
    //     }
    //   }
    // }
  }
}



.sub-menu.level-2 {
  @media (max-width:$pc) {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 40px;

    border-left: 2px solid var(--accent-color);
    padding-left: 25px;
  }

  @media (min-width:$pc) {
    top: 0;
    left: 100%;
  }

}

.sub-menu_h {
  @media (min-width:$pc) {
    transition: all 0.3s ease 0s;

    &.sub-menu_open {
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: visible;
    }
  }
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children>.main-item {
  display: flex;
  // flex-direction: row-reverse;
  font-size: 1.4rem;
  align-items: center;


  .main-item__btn {

    &::before {
      transition: all 0.3s ease 0s;
      filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.45));
    }
  }


  @media (max-width:$pc) {
    font-size: 3rem;
    gap: 10px;

    .main-item__btn {

      &::before {
        font-size: 15px;
        transform: rotate(180deg);
      }
    }

  }

  @media (min-width:$pc) {
    gap: 5px;
    cursor: pointer;

    .main-item__btn {
      pointer-events: none;

      &::before {
        pointer-events: none;
        font-size: 8px;
        transform: rotate(90deg);
      }
    }


  }
}


.sub-menu_h {
  @media (max-width:$pc) {
    width: 320px;
  }
}

.menu-item_h.menu-item_active>.main-item {
  color: var(--accent-color);

  .main-item__btn::before {
    transform: rotate(0);
  }

  @media (min-width:$pc) {
    // background: var(--accent-color);
    color: var(--main-text-color);

    .main-item__btn::before {
      transform: rotate(270deg);
    }

  }
}

.sub-menu_open>.sub-menu {
  opacity: 1;
  visibility: visible;
  position: relative;
  pointer-events: visible;
}

.sub-menu_open>.main-item>a {
  color: var(--accent-color);
}

.sub-menu_open>.main-item>.main-item__btn:before {
  color: var(--accent-color);
  transform: rotate(0deg);
}

.menu-item-has-children {
  @media (min-width:$pc) {
    @media (hover: hover) {
      &:hover {
        &>.main-item {
          color: var(--accent-color);

          .main-item__btn::before {
            transform: rotate(270deg);
          }
        }

        &>.sub-menu {
          opacity: 1;
          visibility: visible;
          pointer-events: visible;
        }
      }
    }
  }

}

//===================================================================================================

//Burger
.icon-menu {
  display: none;

  @media (max-width: $pc) {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
    z-index: 35;

    &__lines {
      display: block;
      width: 14px;
      height: 12px;
      position: relative;

      &::before,
      &::after {
        content: "";
      }

      &::before,
      &::after,
      & span {
        transition: all 0.3s ease 0s;
        width: 100%;
        right: 0px;
        position: absolute;
        height: 2px;
        border-radius: 2px;
        // background-color: var(--main-text-color);
        background-color: #014155;
        ;
      }

      &::before {
        top: 0px;
      }

      &::after {
        bottom: 0px;
      }

      span {
        width: 100%;
        top: calc(50% - 1px);
      }

      .menu-open & {
        &::before {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &::after {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }

        span {
          opacity: 0;
        }
      }
    }
  }
}

//====================================================================================================

//====================================================================================================

.sub-menu_h .menu-item {
  @media (min-width:$pc) {
    @media (hover: hover) {
      &:hover {

        &>.main-item,
        &>a {
          background: linear-gradient(90deg, rgba(1, 65, 85, 0.78) 0%, rgba(49, 111, 130, 0.78) 100%);
          color: #ffffff !important;
        }

      }
    }
  }
}

.sub-menu_h a {
  @media (min-width:$pc) {
    display: block;
    padding: 5px 14px;
  }
}

@media (min-width: $pc) {
  .sub-menu_h .main-item a {
      padding: 5px 0 5px 14px;
  }
}

.sub-menu_h {
  @media (min-width:$pc) {
    top: 65%;
    left: 0;
    background: #f5fdff;
    border-radius: 0 8px 8px 8px;
    padding: 14px 0;

    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.25);
  }
}

.sub-menu_h.level-1 {
  @media (min-width:$pc) {
    width: 311px;
  }
}

.sub-menu_h.level-2 {
  @media (min-width:$pc) {
    width: 200px;
  }
}

@media (min-width: $pc) {
  .menu__list>.menu-item_h>.main-item a {
  // .menu-item_h>a {
    padding: 10px 0;
  }

  .submenu .menu-item_h>a {
    padding: 5px 14px;

  }

  .header__menu .menu__list {
    align-items: center;
  }

  .menu-item_h>a {
    font-size: 1.4rem;
  }
}