.dark {


  .footer {
    background: linear-gradient(180deg, rgba(0, 137, 255, 0.2) 0%, rgba(87, 87, 87, 0.2) 100%), #000000;

    &__btn {
      background: var(--light-text-color);
      color: #0c253a;
    }

    &__phone {
      color: var(--light-text-color);
    }
  }

  .recomendation {
    border-color: var(--light-color);
  }

}


.premium {
  font-family: RobotoFlex, sans-serif;

  .page-premium>* {
    padding-bottom: 50px;
  }


  .header {
    background: #0c263d;
    color: var(--light-color);

    @media (min-width:$tablet) {
      position: relative;
      top: 0;

      padding: 10px 0;
    }
  }

  .menu-item_h {

    @media (min-width:$tablet) {
      color: var(--main-text-color);

    }
  }

  @media (min-width: 1365.98px) {

    .menu__list>.menu-item_h>.main-item a,
    .menu__list>.menu-item_h>a {
      color: var(--light-text-color);
    }
  }

  .icon-menu__lines::before,
  .icon-menu__lines::after,
  .icon-menu__lines span {
    background: var(--light-text-color);
  }

  .menu-open & .icon-menu__lines::before,
  .menu-open & .icon-menu__lines::after,
  .menu-open & .icon-menu__lines span {
    background: var(--main-text-color);
  }

  .menu__header span {
    color: var(--main-text-color);
  }

  .search__input {
    @media (min-width:$tablet) {
      border-color: var(--light-color);
      background: var(--light-color);
    }
  }

  .search__btn-search::before {
    color: var(--main-text-color);

  }

  h2 {
    font-family: RobotoFlex, sans-serif;
    font-variation-settings: 'GRAD' 150;
    font-weight: 400;


    font-size: 2.4rem;
    letter-spacing: 0;
    text-align: center;
    color: #0c111f;
    line-height: 1;
    margin-bottom: 16px;
  }


  .video {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width:$tablet) {
      padding-top: 60px;
      padding-bottom: 70px;
    }

    background: linear-gradient(180deg, rgba(0, 137, 255, 0.2) 0%, rgba(87, 87, 87, 0.2) 100%),
    #000000;

    h2 {
      color: var(--light-text-color);
    }
  }

  .promotion-card__title {
    text-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    font-weight: 400;
    font-size: 2rem;
    background: rgba(12, 39, 63, 0.4);
    border-radius: 16px;
    padding: 6px 10px;
  }

  .promotion-card__btn {
    background: #0c273f;
  }
}


//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================

.page {

  // .page__prem-promo
  &__prem-promo {
    // padding-bottom: 0 !important;
    // margin-bottom: 50px;
  }

  // .page__cooperation
  &__cooperation {
    padding-top: 50px;
  }

  // .page__premium-service

  &__premium-service {}

  // .page__video

  &__video {
    margin-bottom: 50px;
  }

  // .page__directions

  &__directions {}

  // .page__premium-company

  &__premium-company {}

  // .page__promotion

  &__promotion {}
}


.prem-promo {
  background: linear-gradient(180deg, rgba(0, 137, 255, 0.2) 0%, rgba(87, 87, 87, 0.2) 100%), #000000;
  color: var(--light-text-color);

  position: relative;

  // .prem-promo__container
  &__container {

    // .prem-promo__container_n
    &_n {}
  }

  // .prem-promo__body
  &__body {
    padding: 72px 0;

    @media (min-width:$tablet) {
      padding: 230px 0;
      width: 50%;
    }
  }

  // .prem-promo__content
  &__content {}

  // .prem-promo__subtitle

  &__subtitle {}

  // .prem-promo__img-ibg
  &__img-ibg {
    // padding-bottom: percent(375, 430);

    @media (min-width:$tablet) {
      padding-bottom: 0;
      position: absolute;

      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  }
}


.cooperation {
  position: relative;
  // .cooperation__container
  &__container {

    // .cooperation__container_n
    &_n {
      min-height: 522px;
      display: flex;
      align-items: center;
    }
  }

  // .cooperation__row
  &__row {
  }

  // .cooperation__body
  &__body {
    margin-bottom: 34px;

    @media (min-width:$tablet){
      // max-width: 610px;
        width: 50%;
        margin-bottom: 0;
    }
  }

  // .cooperation__content
  &__content {
    h2 {
      text-align: left;
    }
  }

  // .cooperation__img-ibg
  &__img-ibg {
    height: 278px;
    border-radius: 160px 0 0 160px;
    // border-radius: 50% 0 0 50%;
    overflow: hidden;

    @media (min-width:$tablet){
      border-radius: 261px 0 0 261px;
      height: 522px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 50%;
    }
  }
}


.premium-service {

  // .premium-service__container

  &__container {

    // .premium-service__container_n
    &_n {}
  }

  // .premium-service__row
  &__row {
    // display: grid;
    // gap: 6px;

    // @media (min-width:$tablet) {
    //   grid-template-columns: 1fr 1fr;
    // }
  }

  // .premium-service__column
  &__column {
    &:first-child {
      margin-bottom: 6px;
    }
  }

  // .premium-service__slider
  &__slider {
    margin: 0 -19px;
  }

  // .premium-service__btn
  &__btn {
    display: none;

    @media (min-width:$tablet) {

      display: block;
    }
  }
}

.slider-ps {

  // .slider-ps_1

  &_1 {}

  // .slider-ps_2

  &_2 {}

  // .slider-ps__slider

  &__slider {}

  // .slider-ps__swiper

  &__swiper {}

  // .slider-ps__slide-ibg
  &__slide-ibg {

    height: 287px;
  }

  // .slider-ps__slide-header
  &__slide-header {
    padding: 15px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: var(--light-text-color);

    h3 {
      text-shadow: 0 -1px 16px rgba(0, 0, 0, 0.8);
      margin-bottom: 8px;
      font-size: 2rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  // .slider-ps__slider-nav

  &__slider-nav {}
}

.slider-nav-n {

  // .slider-nav-n_circle

  &_circle {}

  // .slider-nav-n_height

  &_height {}

  // .slider-nav-n__btn

  &__btn {

    // .slider-nav-n__btn_prev

    &_prev {}

    // .slider-nav-n__btn_next

    &_next {}
  }
}


.video {

  // .video__container

  &__container {

    // .video__container_n

    &_n {}
  }

  // .video__title

  &__title {}

  // .video__wrapper

  &__wrapper {}

  // .video__body

  &__body {}

  // .video__body-ibg

  &__body-ibg {}
}

.directions {
  display: grid;

  // .directions__body
  &__body {
    display: grid;
    gap: 6px;

    @media (min-width:$mobile) {
      grid-template-columns: 1fr 1fr;
    }
  }

  // .directions__item-ibg
  &__item-ibg {
    height: 175px;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      position: relative;
      z-index: 2;
      font-size: 2.2rem;
      letter-spacing: 0.17em;
      text-transform: capitalize;
      color: #fff;
      text-shadow: 0 -1px 12px rgba(0, 0, 0, 0.8);
    }
  }

  // .directions__btn
  &__btn {
    display: none;

    @media (min-width:$tablet) {
      display: block;
      justify-self: center;
    }
  }
}

.premium-company {

  // .premium-company__wrapper

  &__wrapper {}

  // .premium-company__slider

  &__slider {}

  // .premium-company__swiper

  &__swiper {}

  // .premium-company__slide

  &__slide {}
}

.slide-pc {

  // .slide-pc__img
  &__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  // .slide-pc__img-ibg
  &__img-ibg {
    height: 176px;

    &:nth-child(1) {
      grid-area: 1/1/2/3;
      height: 240px;
    }

    &:nth-child(2) {
      grid-area: 2/1/3/2;
    }

    &:nth-child(3) {
      grid-area: 2/2/3/3;
    }
  }

  // .slide-pc__desc
  &__desc {
    padding: 20px 16px 0;

    h3 {
      font-weight: 600;
      font-size: 2.4rem;
      color: #323232;
    }
  }

  // .slide-pc__text

  &__text {}
}




//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================


//====================================================================================================

.page {

  // .page__promo-premium
  &__promo-premium {
    padding-top: 0;
    padding-bottom: 0;
  }

  // .page__premium
  &__premium {
    // padding-bottom: 0;
  }
}


.promo-premium {

  // .promo-premium__wrapper-ibg
  &__wrapper-ibg {
    // aspect-ratio: 480/473;
    height: vwm(473);

    @media (min-width:$tablet) {
      // aspect-ratio: 1366/594;
      height: vwpc(594);
    }
  }

  // .promo-premium__container
  &__container {}

  // .promo-premium__body

  &__body {
    position: relative;
    z-index: 1;
    padding-top: vwm(60);
    padding-bottom: vwm(50);

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:$tablet) {
      padding-top: vwpc(20);
      padding-bottom: vwpc(445);
    }
  }


  // .promo-premium__logo-ibg
  &__logo-ibg {
    // aspect-ratio: 282/127;
    width: vwm(177);
    height: vwm(80);
    margin-bottom: vwm(240);

    @media (min-width:$tablet) {
      width: vwpc(282);
      height: vwpc(127);
      margin-bottom: 0;
    }
  }

  // .promo-premium__logo-ll

  &__logo-ll {
    font-weight: 600;
    font-size: vwm(80);
    margin-top: vwm(40);
    margin-bottom: vwm(185);

    @media (min-width:$tablet) {
      font-size: vwpc(120);
      margin-bottom: 0;
    }
  }


  // .promo-premium__btn
  &__btn {
    @media (min-width:$tablet) {
      display: none;
    }
  }


}

//====================================================================================================

.premium {

  // .premium__container
  &__container {

    @media (min-width:$tablet) {
      max-width: vwpc(1130);
    }
  }

  // .premium__title

  &__title {
    font-size: vwm(30);
    display: flex;
    align-items: center;
    gap: vwm(10);
    margin-bottom: vwm(10);

    @media (min-width:$tablet) {
      gap: vwpc(10);
      font-size: vwpc(50);
    }
  }

  // .premium__block

  &__block {
    margin-bottom: vwm(35);

    @media (min-width:$tablet) {
      margin-bottom: vwpc(35);

    }
  }

  // .premium__row

  &__row {
    display: grid;

    @media (min-width:$tablet) {
      grid-template-columns: 1fr 1fr;
      gap: vwpc(45);
    }

    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      border: 1px solid var(--light-color);
      border-radius: vwm(35);
      top: 1px;
      bottom: 0;
      left: vwm(-16);
      right: vwm(-16);

      @media (min-width:$tablet) {
        border-radius: vwpc(35);
      }
    }

    // .premium__row_ir
    &_ir {
      margin-bottom: vwm(30);

      @media (min-width:$tablet) {
        margin-bottom: vwpc(35);

        &::before {
          top: vwpc(30);
          left: 0;
          right: vwpc(-30);
        }

      }

      .premium__img-ibg {
        // aspect-ratio: 531/325;
        height: vwm(279);

        @media (min-width:$tablet) {
          height: vwpc(325);
          order: 1;

        }
      }

      .premium__content {
        @media (min-width:$tablet) {
          padding-left: vwpc(30);
          padding-bottom: vwpc(95);
        }
      }



    }

    // .premium__row_il

    &_il {
      position: relative;

      &::before {

        @media (min-width:$tablet) {
          top: vwpc(-115);
          left: 50%;
          transform: translateX(-50%);
          width: 150%;
        }


      }

      .premium__img-ibg {
        // aspect-ratio: 531/337;
        height: vwm(337);

        @media (min-width:$tablet) {
          height: vwpc(337);
          margin-bottom: vwpc(20);
        }
      }

      .premium__content {
        @media (min-width:$tablet) {
          padding-bottom: vwpc(30);
        }
      }

      .premium__text {
        @media (min-width:$tablet) {
          padding-bottom: vwpc(20);
        }
      }

    }
  }

  // .premium__content

  &__content {
    display: grid;

    @media (min-width:$tablet) {
      padding-top: vwpc(55);

    }
  }

  // .premium__text
  &__text {
    padding-bottom: vwm(20);

    @media (min-width:$tablet) {
      padding-bottom: vwpc(20);
    }
  }

  // .premium__img-ibg
  &__img-ibg {
    margin: 0 vwm(-15) vwm(20);

    @media (min-width:$tablet) {
      margin: 0;
      border-radius: vwpc(35);
      overflow: hidden;
    }
  }

  // .premium__btn
  &__btn {
    justify-self: end;
    align-self: end;

    // .premium__btn_1
    &_1 {

      @media (min-width:$tablet) {
        display: none;
      }
    }

    // .premium__btn_2
    &_2 {
      display: none;

      @media (min-width:$tablet) {
        display: inline-flex;
      }
    }
  }


}




//====================================================================================================

.premium {

  // .premium__companies
  &__companies {
    &>* {
      &:not(:last-child) {
        margin-bottom: vwm(35);

        @media (min-width:$tablet) {
          margin-bottom: vwpc(90);
        }
      }
    }
  }

  // .premium__company
  &__company {}

}



.company-p {

  // .company-p__title

  &__title {
    font-size: vwm(35);
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-bottom: vwm(15);

    @media (min-width:$tablet) {
      font-size: vwpc(55);
      margin-bottom: vwpc(15);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: inline-block;
      border-bottom: 2px solid var(--light-color);
    }

  }

  // .company-p__desc
  &__desc {
    margin-bottom: vwm(25);

    @media (min-width:$tablet) {
      margin-bottom: vwpc(35);
    }
  }

  // .company-p__block

  &__block {
    position: relative;


    display: grid;

    @media (min-width:$tablet) {
      grid-template-columns: 1fr 1fr;
      gap: vwpc(45);
    }

    // .company-p__block_top
    &_top {
      padding-top: vwm(25);
      margin-bottom: vwm(25);

      @media (min-width:$tablet) {
        padding-top: 0;
        margin-bottom: vwpc(45);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: vwm(35);

        @media (min-width:$tablet) {
          border-radius: vwpc(35);
          bottom: vwpc(30);
        }
      }

      &::before {
        top: 0;
        left: vwm(-16);
        right: vwm(-16);
        bottom: 1px;
        border: 1px solid var(--light-color);

        @media (min-width:$tablet) {
          top: vwpc(30);
          left: vwpc(-30);
          right: vwpc(-30);
          border-radius: vwpc(35) vwpc(35) 0 0;
          // border: 1px solid var(--light-color);
          border-bottom: unset;
          bottom: vwpc(30);
        }
      }

      &::after {


        @media (min-width:$tablet) {
          width: 130%;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid var(--light-color);
        }
      }

      .company-p__img-ibg {
        // aspect-ratio: 479/279;
        height: vwm(279);

        @media (min-width:$tablet) {
          // aspect-ratio: 531/325;
          height: vwpc(325);
        }
      }

      .company-p__text {
        @media (min-width:$tablet) {
          padding-top: vwpc(65);
          padding-bottom: vwpc(60);
        }
      }
    }

    // .company-p__block_center

    &_center {
      @media (min-width:$tablet) {
        margin-bottom: vwpc(55);
        gap: vwpc(100);
      }
    }

    // .company-p__block_bottom

    &_bottom {
      padding-bottom: vwm(30);


      @media (min-width:$tablet) {
        padding-top: vwpc(35);
      }


      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        border: 1px solid var(--light-color);
      }

      &::before {
        bottom: 0;
        left: vwm(-16);
        right: vwm(-16);
        border-radius: 0 0 vwm(35) vwm(35);
        border-top: unset;

        @media (min-width:$tablet) {
          bottom: vwpc(45);
          left: vwpc(-30);
          right: vwpc(-30);
          border-radius: 0 0 vwpc(35) vwpc(35);

          border-top: unset;
        }
      }

      &::after {
        border: unset;

        @media (min-width:$tablet) {
          width: 130%;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid var(--light-color);
        }
      }



      .company-p__img-ibg {
        // aspect-ratio: 480/337;
        height: vwm(337);

        @media (min-width:$tablet) {
          // aspect-ratio: 551/367;
          height: vwpc(367);
        }
      }

      .company-p__text {
        padding-top: vwpc(35);
      }
    }
  }

  // .company-p__text

  &__text {
    margin-bottom: vwm(25);

    @media (min-width:$tablet) {}
  }

  // .company-p__block-title

  &__block-title {
    font-size: vwm(25);
    font-weight: 500;
    margin-bottom: vwm(15);

    @media (min-width:$tablet) {
      font-size: vwpc(30);
      margin-bottom: vwpc(25);
    }
  }

  // .company-p__img-ibg
  &__img-ibg {
    margin: 0 vwm(-15);

    @media (min-width:$tablet) {
      overflow: hidden;
      border-radius: vwpc(35);
      margin: 0;
    }



  }
}



//====================================================================================================





//====================================================================================================





//====================================================================================================





//====================================================================================================